{% extends 'testasset/main.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}

<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">Department Detail</h3>
                   
                </div>
            </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <form enctype="multipart/form-data" method="post" class="form">
                            {{ form.non_field_errors }}
                            <div class="row">

                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label for="{{ form.asset_no.id_for_label }}">Department:</label>
                                        {% render_field form.name class="form-control" %}
                                        {{ form.name.errors }}
                                    </div>
                                </div>


                                <div class="col-12">
                                    <a class="btn btn-warning" href="{% url 'view_department' %}">Cancel</a>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                                {% csrf_token %}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>



{% endblock %}