{% extends 'testasset/main.html' %}
{% load static %}
{% load widget_tweaks %}
{% load qr_code %}
{% block content %}



<div class="page-wrapper">
  <div class="content container-fluid">
    <div class="page-header">
      <div class="row align-items-center">
        <div class="col">
          <h3 class="page-title">Add Assets</h3>
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'assets' %}">Assets</a></li>
            <li class="breadcrumb-item active">Add Assets</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-body">
            <form enctype="multipart/form-data" method="post" class="form">
              {{ form.non_field_errors }}
              <div class="row">
                <div class="col-12">
                  <h5 class="form-title"><span>Asset Information</span></h5>
                </div>
                <div class="col-12 col-sm-6">
                  <div class="form-group">
                    <label for="{{ form.asset_no.id_for_label }}">Asset No</label>
                    {% render_field form.asset_no class="form-control" %}
                    {{ form.asset_no.errors }}
                  </div>
                </div>
                <div class="col-12 col-sm-6">
                  <div class="form-group">
                    <label for="{{ form.name.id_for_label }}">PC Name</label>
                    {% render_field form.name class="form-control" %}
                    {{ form.name.errors }}
                  </div>
                </div>
                <div class="col-12 col-sm-6">
                  <div class="form-group">
                    <label for="{{ form.brand.id_for_label }}">Brand</label>
                    {% render_field form.brand class="form-control" %}
                    {{ form.brand.errors }}
                  </div>
                </div>
                <div class="col-12 col-sm-6">
                  <div class="form-group">
                    <label for="{{ form.description.id_for_label }}">Description</label>
                    {% render_field form.description class="form-control" %}
                    {{ form.description.errors }}
                  </div>
                </div>
                <div class="col-12 col-sm-6">
                  <div class="form-group">
                    <label for="{{ form.location.id_for_label }}">Location</label>
                    <div>
                      {% render_field form.location class="form-control" %}
                      {{ form.location.errors}}
                    </div>
                  </div>
                </div>

                <div class="col-12 col-sm-6">
                  <div class="form-group">
                    <label for="{{ form.serial_no.id_for_label }}">Serial No</label>
                    {% render_field form.serial_no class="form-control" %}
                    {{ form.serial_no.errors}}
                  </div>
                </div>

                <div class="col-12 col-sm-6">
                  <div class="form-group">
                    <label for="{{ form.warranty_start.id_for_label }}">Warranty Start</label>
                    {% render_field form.warranty_start class="form-control" %}
                    {{ form.warranty_start.errors }}
                  </div>
                </div>
                <div class="col-12 col-sm-6">
                  <div class="form-group">
                    <label for="{{ form.warranty_end.id_for_label }}">Warranty End</label>
                    {% render_field form.warranty_end class="form-control" %}
                    {{ form.warranty_end.errors }}
                  </div>
                </div>
                <div class="col-12 col-sm-6">
                  <div class="form-group">
                    <label for="{{ form.categories.id_for_label }}">Categories</label>
                    {% render_field form.categories class="form-control" %}
                    {{ form.categories.errors }}
                  </div>
                </div>
                <div class="col-12 col-sm-6">
                  <div class="form-group">
                    <label for="{{ form.status.id_for_label }}">Status</label>
                    {% render_field form.status class="form-control" %}
                    {{ form.status.errors }}
                  </div>
                </div>
                <div class="col-12 col-sm-6">
                  <div class="form-group">
                    <label for="{{ form.staff.id_for_label }}">Staff</label>
                    {% render_field form.staff class="form-control" %}
                    {{ form.staff.errors }}
                  </div>
                </div>

                <div class="col-12">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                {% csrf_token %}
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}