{% extends 'testasset/main.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}



<div class="page-wrapper">
  <div class="content container-fluid">
    <div class="page-header">
      <div class="row align-items-center">
        <div class="col">
          <h3 class="page-title">Add Staffs</h3>
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'all_staffs' %}">Staffs</a></li>
            <li class="breadcrumb-item active">Add Staffs</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-body">
            <form enctype="multipart/form-data" method="post" class="form">
              {{ form.non_field_errors }}
              

              <div class="row">
                <div class="col-12">
                  <h5 class="form-title"><span>Staff Information</span></h5>
                </div>
                <div class="col-12 col-sm-6">
                  <div class="form-group">
                    <label for="{{ form.employee_id.id_for_label }}">Employee ID</label>
                    {% render_field form.employee_id class="form-control" %}
                    {{ form.employee_id.errors }}
                  </div>
                </div>
                <div class="col-12 col-sm-6">
                  <div class="form-group">
                    <label for="{{ form.name.id_for_label }}">Name</label>
                    {% render_field form.name class="form-control" %}
                    {{ form.name.errors }}
                  </div>
                </div>
                <div class="col-12 col-sm-6">
                  <div class="form-group">
                    <label for="{{ form.gender.id_for_label }}">Gender</label>
                    {% render_field form.gender class="form-control" %}
                    {{ form.gender.errors }}
                  </div>
                </div>
                <div class="col-12 col-sm-6">
                  <div class="form-group">
                    <label>Joining Date</label>
                    <div>
                      {% render_field form.joining_date class="form-control" %}
                      {{ form.joining_date.errors}}
                    </div>
                  </div>
                </div>

                <div class="col-12 col-sm-6">
                  <div class="form-group">
                    <label for="{{ form.email.id_for_label }}">Email</label>
                    {% render_field form.email class="form-control"  type="email" %}
                    {{ form.email.errors}}
                  </div>
                </div>


                <div class="col-12 col-sm-6">
                  <div class="form-group">
                    <label for="{{ form.department.id_for_label }}">Department</label>
                    {% render_field form.department class="form-control" %}
                    {{ form.department.errors }}
                  </div>
                </div>
                <div class="col-12 col-sm-6">
                  <div class="form-group">
                    <label for="{{ form.position.id_for_label }}">Position</label>
                    {% render_field form.position class="form-control" %}
                    {{ form.position.errors }}
                  </div>
                </div>
                <div class="col-12 col-sm-6">
                  <div class="form-group">
                    <label for="{{ form.description.id_for_label }}">Description</label>
                    {% render_field form.description class="form-control" %}
                    {{ form.description.errors }}
                  </div>
                </div>
                <div class="col-12 col-sm-6">
                  <div class="form-group">
                    <label for="{{ form.status.id_for_label }}">Status</label>
                    {% render_field form.status class="form-control" %}
                    {{ form.status.errors }}
                  </div>
                </div>

                <div class="col-12">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                
              </div>
              {% csrf_token %}
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}

                <!-- <div class="col-12 col-sm-6">
                          <div class="form-group">
                             <label>Staff Image</label>
                             <input type="file" class="form-control">
                          </div>
                       </div> -->
