{% extends 'testasset/main.html' %}
{% load static %}
{% load qr_code %}
{% block content %}

<script src="{% static 'js/instascan.min.js' %}"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- <script src="https://rawgit.com/schmich/instascan-builds/master/instascan.min.js"></script> -->
<video id="preview"></video>
<!-- <style>
    #uni_modal .modal-footer {
        display: none
    }
    
    #uni_modal .modal-sub-footer {
        display: flex
    }
    
    #preview {
        width: 100%;
        height: 50vh;
        margin: 0px auto;
        position: relative;
        object-fit: cover;
        object-position: center center;
    }
    
    #scanner-focus {
        background: #00000085;
        -webkit-clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 25%, 75% 25%, 75% 75%, 25% 75%, 25% 100%, 100% 100%, 100% 0%);
        clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 25%, 75% 25%, 75% 75%, 25% 75%, 25% 100%, 100% 100%, 100% 0%);
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
    }
</style> -->
<!-- <div class="container-fluid">
    <div id="scanner-holder" class="position-relative">
        <video id="preview"></video>
        <div id="scanner-focus" class="position-absolute">

        </div>
    </div>
</div> -->
<script>
    const args = {
        video: document.getElementById('preview'),
        mirror: false
    };

    window.URL.createObjectURL = (stream) => {
        args.video.srcObject = stream;
        return stream;
    };

    const scanner = new Instascan.Scanner(args);
    scanner.addListener('scan', function(content) {
        console.log(content);
        window.location.href = "update_asset/"+content

    });
    if ($('#preview').length > 0) {
        Instascan.Camera.getCameras().then(function(cameras) {
            if (cameras.length > 0) {
                scanner.start(cameras[0]);
            } else {
                console.error('No cameras found.');
            }
        }).catch(function(e) {
            console.error(e);
        });
    }

</script>
{% endblock %}