{% extends 'testasset/main.html' %}

{% block content %}

    <br>

<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <h5>Staff:</h5>
            <hr>
            <a class="btn btn-outline-info btn-sm btn-block" href="{% url 'update_staff' staff.employee_id %}">Update Staff</a>
            <a class="btn btn-outline-info btn-sm btn-block" href="">Assign Asset</a>
        </div>
    </div>

    <div class="col-md">
        <div class="card card-body">
            <h5>Contact Information</h5>
            <hr>
            <p>Employee ID: {{staff.employee_id}}</p>
            <p>Name: {{staff.name}}</p>
            <p>Email: {{staff.email}}</p>
        </div>
    </div>

    <div class="col-md">
        <div class="card card-body">
            <h5>Total Assets</h5>
            <hr>
            <h1 style="text-align: center; padding: 10px">{{assets_count}}</h1>
        </div>
    </div>
</div>


<br>
<div class="row">
    <div class="col-md">
        <div class="container-fluid">
            <div class="card shadow mb-4">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Asset</th>
                                    <th>Category</th>
                                    <th>Status</th>
                                    <th></th>
                             
                                    
                                </tr>
                            </thead>
                            <tbody>

                                {% for asset in assets %}

                                <tr>
                                    <td>{{asset.asset_no}}</td>
                                    <td>{{asset.categories}}</td>
                                    <td>{{asset.status}}</td>
                                    <td><a class="btn btn-info btn-circle btn-sm" href="{% url 'update_asset' asset.asset_no %}"><i class="fas fa-info-circle"></i></a></td>
                                </tr>


                                {% endfor %}
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}

